/*레이아웃*/
.container{width: 1280px; margin: 0 auto}
.row{padding: 0 28px; }
#header { 
	position: fixed; width: 100%; height: 60px; 
	background-color: rgba(255, 255, 255, 0.5); 
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	z-index: 10;}
main {width: 100%; }
#best { background-color: #fff; text-align: center; margin: 100px 0; }
#new{ margin: 100px 0; }
#sale {position: relative; margin: 100px 0; }
#event{margin: 100px 0;}
#footer{background-color: #f5f5f5; }
#top {position: fixed; bottom: 30px; right: 20px; border-radius: 50%; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); z-index: 1000}


/*top*/
#top a{display: block;border-radius: 50%; padding: 10px; 
	background-color: #fff; color: #222;}


/*header*/
.header{display: flex; justify-content: space-between; align-items: center; padding: 19px 10px 19px 10px; }
.header h4{ }
.header .logo{position: absolute; top: 15px; left: 50%; transform: translateX(-50%);}
.header .logo img{ width: 100px;}

.ham_btn{ 
	position: relative; 
	cursor: pointer;
	width: 65px; height: 20px; 
	transition: 0.5s;
}
.ham_btn .ham{
	position: relative;
	width: 20px; height: 15px;
	top: 50%; transform: translateY(-50%);
	display: block;   }
.ham span{
	position: absolute; display: block; background-color: #222;  width: 20px; height: 2px; transition: 0.5s;}
.ham span:nth-child(1){top: 0;}
.ham span:nth-child(2){	top: 50%; }
.ham span:nth-child(3){
	top: 100%; transform: translateY(-50%);}
.ham_btn > span{ 
	position: absolute; top: 0px; right: 0; text-transform: uppercase;font-size: 12px; font-weight: 600; 
	transition: 0.5s;}
/*active됐을 때*/
.ham_btn.active{ width: 20px;}
.ham_btn.active > span { opacity: 0;}
.ham_btn.active .ham span:nth-child(1){transform: rotate(45deg);top: 50%}
.ham_btn.active .ham span:nth-child(2){ opacity: 0}
.ham_btn.active .ham span:nth-child(3){transform: rotate(-45deg);top:50%}
/*active하면 나오는 메뉴들*/
#mNav{position: fixed; top: 60px; right: 0;
	background-color: rgba(255, 255, 255, 0.5); 
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	width: 100%; height:atuo;; z-index: 100;
	display: none;
}
#mNav .menu li a{
	display: block;padding: 15px 0;text-align: center;}
#mNav .menu li:hover {background-color: #fff;}
